<table>
    <tr>
        <td>
           <b><p class="head">Cristian Terán Juárez</p></b> 
            <p class="head">Ingeniero de software</p>
        </td>
        <td>
            <img  class="logo" src="../../assets/iamges/fms.jpg" alt=""  width="100" height="100">
        </td>
        <td>
            <b>
            <ul class="info">
                <li><img src="../../assets/iamges/correo.png" alt="" id="email">zS18003177@estudiantes.uv.mx</li>
                <li><img src="../../assets/iamges/tel.png" alt="" id="tel">2721079967</li>
                <li><img src="../../assets/iamges/mapa.png" alt="" id="mapa">Orizaba, Veracruz</li>
                <li><img src="../../assets/iamges/github.png" alt="" id="git">9NEAR7</li>
            </ul>
            </b>
        </td>
    </tr>
</table>